
<br>
<!--# For our reference , not final?-->
  <h3 style="text-align: center;">Find Your Name Below for Account Information</h3>
  <br>

  <ul>
    <% @customers.each do |customer| %>
      <p style="text-align: center;"> <%= link_to customer.full_name, customer_path(customer) %> </p>
      <%#= customer.purchases.length %>
    <% end %>
  </ul>