<!--# For our reference , not final?-->
  <h2>We have <%= @customers.length %> customers</h2>
    <% @customers.each do |customer| %>
      <%= link_to customer.full_name, customer_path(customer) %>
      <%#= customer.purchases.length %>
<% end %>