// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: url(homepagepic.jpg);
  -webkit-background-size: 100px 700px;
  background-size: 1000px 700px;
  background-position: center center;
  height: 100vh;
}