// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-image-container{
  display: flex;
  justify-content: center;
}


.login-container {
   position: absolute;
   top: 43%;
   left: 10%;
 }